<header>
  <h1>Cars Management System</h1>

  <nav>
    <ul>
      <li><a routerLink="/sign-in" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/sign-up" routerLinkActive="active">Registration</a></li>
      <li><a routerLink="/customer-profile" routerLinkActive="active">customer-profile</a></li>
      <li><a routerLink="/cars" routerLinkActive="active">Cars</a></li>
      <li><a routerLink="/car-list" routerLinkActive="active">car list</a></li>
      <li><a routerLink="/car-details" routerLinkActive="active">car details</a></li>
      <li><a routerLink="/my-requests" routerLinkActive="active">My Requests</a></li>
    </ul>
  </nav>
</header>
