<div class="terms-container">
   <h2> لأحكام والشروط – تطبيق حجز سيارات إيجار</h2>
    يرجى قراءة هذه الأحكام والشروط بعناية قبل استخدام التطبيق.
    <br> باستخدامك لهذا التطبيق، فإنك توافق على الالتزام بهذه الشروط.
    
    <h4>1. التعريفات</h4>
    <b>المستخدم:</b> 
    أي شخص يقوم بتحميل التطبيق أو استخدامه لحجز سيارة.
    
    <b>مزود الخدمة:</b> شركة تأجير السيارات التي توفر المركبات عبر التطبيق.
    
    <b>التطبيق:</b> هو المنصة الإلكترونية لحجز وتأجير السيارات.
    
    <h4>2.شروط الحجز</h4>
    يجب أن يكون عمر المستخدم 21 سنة أو أكثر ولديه رخصة قيادة سارية.
    <br>
    الحجز يتم عبر التطبيق مع تحديد نوع السيارة، فترة الإيجار، وموقع الاستلام والتسليم.
    <br>
    يجب تقديم هوية سارية ورخصة قيادة عند استلام السيارة.
    <br>
    <h4>3.الدفع</h4>
    يتم الدفع عن طريق وسائل الدفع الإلكترونية المتاحة في التطبيق.
    <br>
    قد يُطلب دفع مبلغ تأمين يُسترد بعد إعادة السيارة في حال عدم وجود أضرار.
    <br>
    <h4>4.الالغاء والاستيراد</h4>
    يمكن إلغاء الحجز قبل 24 ساعة من موعد الاستلام دون رسوم.
    <br>
    في حال الإلغاء خلال أقل من 24 ساعة، يتم خصم رسوم إلغاء (قد تصل إلى 50% من قيمة الإيجار).
    <br>
    لا يتم رد أي مبالغ بعد استلام السيارة وبدء فترة الإيجار.
    <br>
    <h4>5. مسؤوليات المستخدم</h4>
    الحفاظ على السيارة وعدم استخدامها في أنشطة غير قانونية.
    <br>
    تحمل تكلفة أي أضرار أو مخالفات مرورية أثناء فترة الإيجار.
    <br>
    إعادة السيارة في الوقت المحدد وبنفس مستوى الوقود الذي استلمها به.
    <br>
    <h4>6.  مسؤولية التطبيق</h4>  
    التطبيق وسيط بين المستخدم ومزود الخدمة ولا يتحمل مسؤولية مباشرة عن جودة الخدمة أو حالة السيارات.
    <br>
    لا يتحمل التطبيق أي مسؤولية عن الحوادث أو الأضرار الناتجة عن استخدام السيارة.
    <br>
    <h4>7.البيانات الشخصية</h4>
    يتم جمع البيانات الشخصية لغرض تنفيذ الحجوزات وتحسين الخدمة.
    <br>
    لا يتم مشاركة البيانات مع أطراف ثالثة دون موافقة المستخدم، إلا إذا تطلب القانون ذلك.
    <br>
     <h4>8.التعديلات</h4>
    يحق لإدارة التطبيق تعديل الشروط في أي وقت، ويتم إشعار المستخدمين بذلك عبر التطبيق.
    <br>
    <h4>9.القانون الواجب على التطبيق </h4>
    تخضع هذه الشروط لقوانين الدولة التي تعمل بها الشركة المالكة للتطبيق.
    
    </div>
    <a href ="/signup" class="a" >رجوع الى صفحة التسجيل </a>
