.terms-container {
    direction: rtl;
    font-family: "Cairo", sans-serif;
    padding: 2rem;
    background-color: #f9f9f9;
    color: #333;
  
    h2 {
      font-size: 2rem;
      color: #1e3a8a;
      margin-bottom: 1rem;
      }
  
    h4 {
      font-size: 1.25rem;
      color: #0f172a;
      margin-top: 1.5rem;
     
    }
  
    b {
      display: block;
      margin-top: 0.5rem;
      color: #1e293b;
    }
  
     br {
      line-height: 1.8;
    }
  
    
  }
  