/*@media (max-width: 700px) {
    .masthead-content {
      padding: 1rem;
      
      form .row {
        flex-direction: row;
  
        .col {
          flex: 1 1 50%;
        }
      }}}


.masthead {
    position: relative;
   // padding: 2rem 1rem;//2-1
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;//100
   
  
    .masthead-content {
      background: rgba(0, 0, 0, 0.6);
      padding: 1rem;//2
      border-radius: 5px;//12
      width: 60%;//100
      min-width: 400px;//900
       min-height: 200px;
    //  height: 100%;
    }}  


form {
    .row {
      display: flex;
      flex-wrap: wrap;
      gap: .4rem;
      }

      .col {
        flex: 1 1 30%;
        display: flex;
        flex-direction: column;}
    
        input,
        select {
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 1px;
          font-size: 0.95rem;
        }
        fieldset {
            margin-top: 1rem;
            padding: 1rem;
            border: 1px solid #ccc;
            border-radius: 8px;
            legend {
              color: #fff;
              font-weight: bold;
            }

        }    
    
          .btn {
            padding: 0rem ;//2
            font-weight: 50;//600
            font-size: 1rem;
            border-radius: 1px;//8
            width: 30%;
            height: 20%;
          }
    }
*/