
.error{
    color: red;
    margin: 10px;
}
.success{
 color:rgb(5, 211, 5);
}
.in-valid {
    border: 3px solid red;
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

